body {
  height: 100vh;
  overflow: hidden;
  background-color: #d7e3e3;
}

.layout {
  height: 100vh;
}

.inner-layout {
  height: calc(100vh - 30px);
}

/* 
===================
Board
=================== 
*/
.board-row {
  display: flex;
}

/* 
===================
Square
=================== 
*/
.square-wrapper {
  padding: 1px;
}

.square {
  width: 100%;
  padding-top: 100%;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.square-disabled,
.square-matched,
.square-covered,
.square-uncovered {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.square-disabled {
  background-color: darkslategray;
  opacity: 0.4;
}

.square-matched {
  background-color: #7ec4c4;
}

.square-covered {
  background-color: darkslategray;
  border: 1px solid grey;
}

.square-inner {
  height: 100%;
  width: 100%;
}

.square-inner-img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 80%;
}

.square-inner-text {
  text-align: center;
  margin: 0 auto;
  font-size: 0.8em;
  line-height: 0.9em;
  padding-bottom: 3px;
  color: darkslategray;
  text-transform: capitalize;
  font-weight: bold;
}

/* 
===================
Game Toolbar
=================== 
*/
.game-controls {
  padding: 10px;
  margin-left: 10px; /* bootstrap problem */
  /* background-color: whitesmoke; */
  /* box-shadow: 0 5px 5px -5px #333; */
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.game-status {
  padding: 10px;
  margin-right: 10px;
}

.finish-status {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
}

.game-status > *,
.form-inline > * {
  margin: 0 5px;
}

/* 
===================
Footer
=================== 
*/
.footer {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  box-shadow: 0 -5px 5px -5px #333;
  background-color: darkslategray;
  color: whitesmoke;
  display: flex;
}

.footer-content {
  margin: 0 auto;
}

.footer-content small {
  margin-right: 20px;
}

.footer-content small a {
  color: white;
}

/* 
===================
Colors
=================== 
*/
.success {
  color: green;
}

.failure {
  color: red;
}

/* 
===================
Util
=================== 
*/
.flex-hr-center {
  display: flex;
  justify-content: center;
}

.flex-vr-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-hr-space-bt {
  display: flex;
  justify-content: space-between;
}

.flex-vr-space-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clickable:hover {
  cursor: pointer;
}

.no-padding {
  padding: 0px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
